@font-face {
  font-family: 'Minha Fonte Customizada';
  src: url(codec-pro.italic.ttf);
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'Minha Fonte Customizada2';
    src: url(brillant.otf);
    font-weight: normal;
    font-style: normal;
  }

* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Minha Fonte Customizada', sans-serif;
  color: #2a044a;
  width: 100%;
  background: linear-gradient(to left, #cccccc  53%, #e6e6e6 50% );
}

.menu-principal {
  background-color: #1e3a70;
  padding: 10px 0; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu-principal ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu-principal li {
  margin-right: 10px;
}

.menu-principal a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-principal a:hover {
  text-decoration: underline;
}


.menu-tres-pontinhos {
  position: absolute; 
  top: 0px;
  left: 15px;
  z-index: 1000; 
}

.menu-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}


.menu-dropdown {
  display: none;
  position: absolute;
  left: 0;
  margin-top: 5px;
  background-color: #a0c55f;
  border: 1px solid #728b47;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 999;
}

.menu-dropdown a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.menu-dropdown a:hover {
  background-color: #728b47;
}

/* Centraliza e remove espaçamento extra da imagem */
.fundo img {
  display: block; /* Remove espaços automáticos */
  width: 100%;    /* Ajusta o tamanho */
  height: auto;
}






/* Estilo para o container principal */
.container-baixo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}

/* QUADROS DE BAIXO */
.quadro-esquerda,
.quadro-direita {
  flex: 1;
  background-color: white;
  padding: 20px;
  border: 2px solid #1e3a70;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.quadro-esquerda1,
.quadro-direita1 {
  max-width: 1532px;   /* ajuste se quiser mais estreito/largo */
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  
  
  padding: 30px 0;       /* padding vertical; lateral fica na .wrap */
  border-bottom: 4px solid #15325c;
  margin-bottom: 20px;
  flex: 1;
  justify-content: space-between;
  width: 98%;
  background-color: white;
  padding: 20px;
  border: 2px solid #1e3a70;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  gap: 10px;
}

.fonte29 {
  font-size: 30px;
}
.fontetitulo {
  font-family: 'Minha Fonte Customizada2';
  font-weight: bolder;
  font-size: 37px;
}

@media (max-width: 768px) {
  .container-baixo {
    flex-direction: column;
  }

  .quadro-esquerda,
  .quadro-direita {
    width: 100%;
  }
}